# Setup Code

In [37]:
# Importing all packages used
import pandas as pd

## Importing delivery_radius_log

In [38]:
# Importing the CSV file delivery_radius_log as a dataframe first
df_delivery_radius_log = pd.read_csv('data/delivery_radius_log.csv')
df_delivery_radius_log.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1316 entries, 0 to 1315
Data columns (total 3 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   DELIVERY_AREA_ID         1316 non-null   object
 1   DELIVERY_RADIUS_METERS   1316 non-null   int64
 2   EVENT_STARTED_TIMESTAMP  1316 non-null   object
dtypes: int64(1), object(2)
memory usage: 31.0+ KB

In [47]:
df_delivery_radius_log.head()

,DELIVERY_AREA_ID,DELIVERY_RADIUS_METERS,EVENT_STARTED_TIMESTAMP
0,5db02e5d401d690c836b9ead,3000,2022-06-14T08:26:20.923854Z
1,5db02e5d401d690c836b9ead,7000,2022-06-14T08:49:01.186365Z
2,5db02e5d401d690c836b9ead,3000,2022-06-18T07:43:57.662294Z
3,5db02e5d401d690c836b9ead,7000,2022-06-18T08:00:45.227506Z
4,5d78a7e552dfabd5251dab7b,4000,2022-06-18T08:05:29.093983Z

## Importing purchases

In [40]:
# Importing the CSV file delivery_radius_log as a dataframe first
df_purchases = pd.read_csv('data/purchases.csv')
df_purchases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177895 entries, 0 to 177894
Data columns (total 6 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   PURCHASE_ID                            177895 non-null  object
 1   TIME_RECEIVED                          177895 non-null  object
 2   TIME_DELIVERED                         177895 non-null  object
 3   END_AMOUNT_WITH_VAT_EUR                177895 non-null  float64
 4   DROPOFF_DISTANCE_STRAIGHT_LINE_METRES  177895 non-null  int64
 5   DELIVERY_AREA_ID                       177895 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 8.1+ MB

In [41]:
df_purchases.head()

,PURCHASE_ID,TIME_RECEIVED,TIME_DELIVERED,END_AMOUNT_WITH_VAT_EUR,DROPOFF_DISTANCE_STRAIGHT_LINE_METRES,DELIVERY_AREA_ID
0,5f85beff7762a1539ad6faf1,2022-10-13T14:51:43.048Z,2022-10-13T15:18:35.265Z,17.87,735,5d78a7e552dfabd5251dab7b
1,5f85c08dddf0c9826389f3cd,2022-10-13T14:58:21.078Z,2022-10-13T15:28:09.194Z,17.75,436,5cc1b60b034adf90cd8f14dd
2,5f85bc2cf49ddea98955ce5f,2022-10-13T14:39:40.153Z,2022-10-13T15:05:15.058Z,25.80,867,5cc1b60b034adf90cd8f14dd
3,5f855dbf5a93deaf2be5b872,2022-10-13T07:56:47.003Z,2022-10-13T09:05:14.37Z,15.70,252,5db02e5d401d690c836b9ead
4,5f85be8a8876393ee141ed82,2022-10-13T14:49:46.693Z,2022-10-13T15:14:31.299Z,18.80,857,5db02e5d401d690c836b9ead

# Setting up a PostgreSQL DB  in localhost

In [42]:
import psycopg2 
from sqlalchemy import create_engine

In [43]:
# Generating a connection STRING for using a test service account `dbuser`
from sqlalchemy import URL

url_object = URL.create(
    "postgresql+psycopg2",
    username="dbuser",
    password="1",  # plain (unescaped) text
    host="localhost",
    database="postgres",
)

url_object

postgresql+psycopg2://dbuser:***@localhost/postgres

In [44]:
db = create_engine(url_object) 
conn = db.connect() 
conn1 = psycopg2.connect( 
  database="postgres", 
  user='dbuser',  
  password='1',  
  host='localhost',  
  port= '5432'
) 
  
conn1.autocommit = True
cursor = conn1.cursor() 
  
# drop table if it already exists 
cursor.execute('drop table if exists ods.test_table') 
  
sql = '''
CREATE TABLE ods.test_table AS 
SELECT 1 AS test_column_name
;
'''
  
cursor.execute(sql)

In [45]:
sql_test = '''
SELECT *
FROM ods.test_table
;
'''

print('running test SELECT statement...\n')
cursor.execute(sql_test) 
results = cursor.fetchall() 
print('result:\n')
print(results)

running test SELECT statement...

result:

[(1,)]

In [46]:
df_check = pd.read_sql_query(sql_test, conn1)
df_check.head()

/var/folders/6h/ptt_z0_53nb5t746v0n1sv980000gr/T/ipykernel_19035/1980342143.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_check = pd.read_sql_query(sql_test, conn1)

   test_column_name
0                 1

# Creating ODS tables in the local PostgreSQL server

In [60]:
df_delivery_radius_log.to_sql(
    name = 'delivery_radius_log',
    schema = 'ods',
    con=db,
    if_exists = 'replace'
)

# asserting if the ingested table in there
sql_delivery_radius_log = '''
SELECT *
FROM ods.delivery_radius_log
LIMIT 5
;
'''

cursor.execute(sql_delivery_radius_log) 
cursor.fetchall()

[(0, '5db02e5d401d690c836b9ead', 3000, '2022-06-14T08:26:20.923854Z'),
 (1, '5db02e5d401d690c836b9ead', 7000, '2022-06-14T08:49:01.186365Z'),
 (2, '5db02e5d401d690c836b9ead', 3000, '2022-06-18T07:43:57.662294Z'),
 (3, '5db02e5d401d690c836b9ead', 7000, '2022-06-18T08:00:45.227506Z'),
 (4, '5d78a7e552dfabd5251dab7b', 4000, '2022-06-18T08:05:29.093983Z')]

In [61]:
df_purchases.to_sql(
    name = 'purchases',
    schema = 'ods',
    con=db,
    if_exists = 'replace'
)

# asserting if the ingested table in there
sql_purchases = '''
SELECT *
FROM ods.purchases
LIMIT 5
;
'''

cursor.execute(sql_purchases) 
cursor.fetchall()

[(0,
  '5f85beff7762a1539ad6faf1',
  '2022-10-13T14:51:43.048Z',
  '2022-10-13T15:18:35.265Z',
  17.87,
  735,
  '5d78a7e552dfabd5251dab7b'),
 (1,
  '5f85c08dddf0c9826389f3cd',
  '2022-10-13T14:58:21.078Z',
  '2022-10-13T15:28:09.194Z',
  17.75,
  436,
  '5cc1b60b034adf90cd8f14dd'),
 (2,
  '5f85bc2cf49ddea98955ce5f',
  '2022-10-13T14:39:40.153Z',
  '2022-10-13T15:05:15.058Z',
  25.8,
  867,
  '5cc1b60b034adf90cd8f14dd'),
 (3,
  '5f855dbf5a93deaf2be5b872',
  '2022-10-13T07:56:47.003Z',
  '2022-10-13T09:05:14.37Z',
  15.7,
  252,
  '5db02e5d401d690c836b9ead'),
 (4,
  '5f85be8a8876393ee141ed82',
  '2022-10-13T14:49:46.693Z',
  '2022-10-13T15:14:31.299Z',
  18.8,
  857,
  '5db02e5d401d690c836b9ead')]

In [64]:
sql = '''
SELECT *
FROM ods.purchases
'''

df_purchases = pd.read_sql(sql, con = db)
df_purchases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177895 entries, 0 to 177894
Data columns (total 7 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   index                                  177895 non-null  int64
 1   PURCHASE_ID                            177895 non-null  object
 2   TIME_RECEIVED                          177895 non-null  object
 3   TIME_DELIVERED                         177895 non-null  object
 4   END_AMOUNT_WITH_VAT_EUR                177895 non-null  float64
 5   DROPOFF_DISTANCE_STRAIGHT_LINE_METRES  177895 non-null  int64
 6   DELIVERY_AREA_ID                       177895 non-null  object
dtypes: float64(1), int64(2), object(4)
memory usage: 9.5+ MB

In [65]:
df_purchases.head()

,index,PURCHASE_ID,TIME_RECEIVED,TIME_DELIVERED,END_AMOUNT_WITH_VAT_EUR,DROPOFF_DISTANCE_STRAIGHT_LINE_METRES,DELIVERY_AREA_ID
0,0,5f85beff7762a1539ad6faf1,2022-10-13T14:51:43.048Z,2022-10-13T15:18:35.265Z,17.87,735,5d78a7e552dfabd5251dab7b
1,1,5f85c08dddf0c9826389f3cd,2022-10-13T14:58:21.078Z,2022-10-13T15:28:09.194Z,17.75,436,5cc1b60b034adf90cd8f14dd
2,2,5f85bc2cf49ddea98955ce5f,2022-10-13T14:39:40.153Z,2022-10-13T15:05:15.058Z,25.80,867,5cc1b60b034adf90cd8f14dd
3,3,5f855dbf5a93deaf2be5b872,2022-10-13T07:56:47.003Z,2022-10-13T09:05:14.37Z,15.70,252,5db02e5d401d690c836b9ead
4,4,5f85be8a8876393ee141ed82,2022-10-13T14:49:46.693Z,2022-10-13T15:14:31.299Z,18.80,857,5db02e5d401d690c836b9ead

# Q1

In [66]:
df_delivery_radius_log.head()

,DELIVERY_AREA_ID,DELIVERY_RADIUS_METERS,EVENT_STARTED_TIMESTAMP
0,5db02e5d401d690c836b9ead,3000,2022-06-14T08:26:20.923854Z
1,5db02e5d401d690c836b9ead,7000,2022-06-14T08:49:01.186365Z
2,5db02e5d401d690c836b9ead,3000,2022-06-18T07:43:57.662294Z
3,5db02e5d401d690c836b9ead,7000,2022-06-18T08:00:45.227506Z
4,5d78a7e552dfabd5251dab7b,4000,2022-06-18T08:05:29.093983Z

In [100]:
sql_fct_delivery_radius_log = '''
SELECT *
FROM ods.delivery_radius_log
LIMIT 5
;
'''

df_fct_delivery_radius_log = pd.read_sql(sql_fct_delivery_radius_log, con = db)

df_fct_delivery_radius_log.head()

,index,DELIVERY_AREA_ID,DELIVERY_RADIUS_METERS,EVENT_STARTED_TIMESTAMP
0,0,5db02e5d401d690c836b9ead,3000,2022-06-14T08:26:20.923854Z
1,1,5db02e5d401d690c836b9ead,7000,2022-06-14T08:49:01.186365Z
2,2,5db02e5d401d690c836b9ead,3000,2022-06-18T07:43:57.662294Z
3,3,5db02e5d401d690c836b9ead,7000,2022-06-18T08:00:45.227506Z
4,4,5d78a7e552dfabd5251dab7b,4000,2022-06-18T08:05:29.093983Z

In [130]:
# asserting if the ingested table in there
sql_fct_delivery_radius_log = '''
WITH delivery_radius_log AS (
    SELECT *
        , LAG("DELIVERY_RADIUS_METERS") OVER (PARTITION BY "DELIVERY_AREA_ID" ORDER BY "EVENT_STARTED_TIMESTAMP") AS previous_delivery_radius_meters
        , LAG("EVENT_STARTED_TIMESTAMP") OVER (PARTITION BY "DELIVERY_AREA_ID" ORDER BY "EVENT_STARTED_TIMESTAMP") AS previous_event_started_timestamp 
    FROM ods.delivery_radius_log
    -- WHERE "DELIVERY_AREA_ID" = '5cc1b60b034adf90cd8f14dd'
), fct_delivery_radius_log AS (
    SELECT *
      , "DELIVERY_RADIUS_METERS" < previous_delivery_radius_meters AS is_reduction
      , EXTRACT('HOUR' FROM ("EVENT_STARTED_TIMESTAMP"::TIMESTAMP - previous_event_started_timestamp::TIMESTAMP)) AS delta_hours
    FROM delivery_radius_log
)
SELECT *
FROM fct_delivery_radius_log
WHERE delta_hours >=23
ORDER BY delta_hours DESC
;
'''

df_fct_delivery_radius_log = pd.read_sql(sql_fct_delivery_radius_log,
                                         con = db)

df_fct_delivery_radius_log.head(5000)

,index,DELIVERY_AREA_ID,DELIVERY_RADIUS_METERS,EVENT_STARTED_TIMESTAMP,previous_delivery_radius_meters,previous_event_started_timestamp,is_reduction,delta_hours
0,713,5cc1b60b034adf90cd8f14dd,3500,2021-12-10T13:19:16.103106Z,6500,2021-12-08T14:07:17.814469Z,True,23.0
1,856,5cc1b60b034adf90cd8f14dd,3500,2022-02-10T13:55:52.092852Z,6500,2022-02-09T14:15:57.655744Z,True,23.0
2,1137,5cc1b60b034adf90cd8f14dd,3500,2022-05-14T08:21:41.888916Z,9500,2022-05-13T09:04:08.658443Z,True,23.0
3,1141,5cc1b60b034adf90cd8f14dd,3500,2022-05-15T08:18:19.163709Z,9500,2022-05-14T08:59:01.686373Z,True,23.0
4,179,5cc1b60b034adf90cd8f14dd,3500,2022-07-31T11:47:55.670628Z,9500,2022-07-21T12:14:33.493815Z,True,23.0
5,432,5cc1b60b034adf90cd8f14dd,3500,2022-10-15T08:17:44.633595Z,9500,2022-10-09T08:42:50.452396Z,True,23.0
6,456,5cc1b60b034adf90cd8f14dd,3500,2022-10-20T08:52:00.542793Z,9500,2022-10-19T09:24:22.419578Z,True,23.0
7,468,5cc1b60b034adf90cd8f14dd,3500,2022-10-22T09:38:05.66563Z,9500,2022-10-20T10:30:40.221282Z,True,23.0
8,585,5cc1b60b034adf90cd8f14dd,3000,2022-11-20T13:13:50.889722Z,9500,2022-11-04T13:42:43.049654Z,True,23.0
9,652,5cc1b60b034adf90cd8f14dd,3500,2022-12-03T13:27:28.057998Z,9500,2022-12-02T13:56:24.207276Z,True,23.0
10,677,5cc1b60b034adf90cd8f14dd,3500,2022-12-06T14:43:31.679947Z,9500,2022-12-05T15:08:36.672756Z,True,23.0
11,690,5cc1b60b034adf90cd8f14dd,3500,2022-12-10T09:41:03.367743Z,9500,2022-12-09T09:45:33.471497Z,True,23.0
12,692,5cc1b60b034adf90cd8f14dd,4000,2022-12-11T09:35:56.830864Z,3000,2022-12-10T09:46:55.736407Z,False,23.0
13,1235,5cc1b60b034adf90cd8f14dd,3500,2022-12-16T09:30:41.867811Z,9500,2022-12-11T09:57:01.504676Z,True,23.0
14,750,5d78a7e552dfabd5251dab7b,4000,2022-01-12T13:27:43.653742Z,7000,2022-01-11T13:36:07.324443Z,True,23.0
15,888,5d78a7e552dfabd5251dab7b,3500,2022-03-16T17:33:29.447078Z,7000,2022-03-05T17:56:25.182327Z,True,23.0
16,1095,5d78a7e552dfabd5251dab7b,4000,2022-05-04T09:05:07.916188Z,9500,2022-05-03T09:17:17.075471Z,True,23.0
17,129,5d78a7e552dfabd5251dab7b,4000,2022-07-17T17:29:09.921119Z,9500,2022-07-16T17:50:59.638473Z,True,23.0
18,166,5d78a7e552dfabd5251dab7b,4000,2022-07-22T12:21:43.939769Z,9500,2022-07-21T13:06:31.210764Z,True,23.0
19,204,5d78a7e552dfabd5251dab7b,4000,2022-08-04T09:07:09.925381Z,9500,2022-08-03T09:38:02.252796Z,True,23.0
20,232,5d78a7e552dfabd5251dab7b,4000,2022-08-09T08:28:48.688831Z,9500,2022-08-08T08:43:22.645098Z,True,23.0
21,292,5d78a7e552dfabd5251dab7b,4000,2022-08-30T08:07:49.127819Z,9500,2022-08-27T08:32:53.99456Z,True,23.0
22,343,5d78a7e552dfabd5251dab7b,3000,2022-09-18T07:23:28.234836Z,9500,2022-09-17T07:38:41.571313Z,True,23.0
23,407,5d78a7e552dfabd5251dab7b,4000,2022-10-10T10:23:00.578665Z,9500,2022-10-08T10:32:00.37539Z,True,23.0
24,638,5d78a7e552dfabd5251dab7b,4000,2022-12-01T14:23:19.57003Z,9500,2022-11-28T15:06:42.535154Z,True,23.0
25,1233,5d78a7e552dfabd5251dab7b,4000,2022-12-16T09:10:36.462734Z,9500,2022-12-14T09:39:29.118287Z,True,23.0
26,1311,5d78a7e552dfabd5251dab7b,3500,2023-01-03T14:23:48.859189Z,9500,2022-12-18T15:12:41.387838Z,True,23.0
27,723,5db02e5d401d690c836b9ead,4000,2021-12-16T18:04:34.28415Z,7000,2021-12-15T18:14:04.754116Z,True,23.0
28,808,5db02e5d401d690c836b9ead,3000,2022-02-01T10:23:04.564137Z,7000,2022-01-31T10:42:01.911444Z,True,23.0
29,826,5db02e5d401d690c836b9ead,3000,2022-02-05T16:50:40.841745Z,7000,2022-02-03T17:12:59.096038Z,True,23.0
30,892,5db02e5d401d690c836b9ead,3000,2022-03-18T09:20:24.061057Z,7000,2022-03-08T09:36:08.005369Z,True,23.0
31,1069,5db02e5d401d690c836b9ead,3000,2022-04-27T09:23:05.969451Z,7000,2022-04-26T09:47:08.512377Z,True,23.0
32,1075,5db02e5d401d690c836b9ead,3000,2022-04-29T08:24:39.34573Z,7000,2022-04-28T08:54:52.125774Z,True,23.0
33,1081,5db02e5d401d690c836b9ead,3500,2022-05-01T13:32:21.1934Z,7000,2022-04-29T13:47:33.088522Z,True,23.0
34,1113,5db02e5d401d690c836b9ead,3000,2022-05-08T12:22:12.967325Z,7000,2022-05-05T12:32:48.122961Z,True,23.0
35,1142,5db02e5d401d690c836b9ead,3000,2022-05-15T08:50:59.629927Z,7000,2022-05-12T09:13:13.105096Z,True,23.0
36,1166,5db02e5d401d690c836b9ead,3000,2022-05-17T08:44:26.229909Z,7000,2022-05-16T09:19:08.022052Z,True,23.0
37,1182,5db02e5d401d690c836b9ead,3000,2022-05-19T08:23:39.769643Z,7000,2022-05-18T09:10:40.884662Z,True,23.0
38,1222,5db02e5d401d690c836b9ead,3000,2022-06-02T08:28:12.105927Z,7000,2022-05-29T09:15:40.258284Z,True,23.0
39,15,5db02e5d401d690c836b9ead,3000,2022-06-25T08:27:24.115763Z,7000,2022-06-21T08:44:32.039774Z,True,23.0
40,32,5db02e5d401d690c836b9ead,3000,2022-07-02T08:18:53.998267Z,7000,2022-07-01T08:48:45.474599Z,True,23.0
41,126,5db02e5d401d690c836b9ead,3000,2022-07-17T08:34:08.896568Z,7000,2022-07-16T08:52:49.593124Z,True,23.0
42,131,5db02e5d401d690c836b9ead,3000,2022-07-18T09:29:18.51549Z,7000,2022-07-17T10:18:53.733297Z,True,23.0
43,228,5db02e5d401d690c836b9ead,3000,2022-08-08T09:24:52.75751Z,7000,2022-08-07T09:42:56.047903Z,True,23.0
44,256,5db02e5d401d690c836b9ead,3000,2022-08-14T07:24:43.884458Z,7000,2022-08-13T08:23:02.716241Z,True,23.0
45,277,5db02e5d401d690c836b9ead,3000,2022-08-18T10:28:31.205101Z,7000,2022-08-17T11:06:31.512559Z,True,23.0
46,290,5db02e5d401d690c836b9ead,3000,2022-08-27T10:04:53.631645Z,7000,2022-08-18T10:38:46.553877Z,True,23.0
47,380,5db02e5d401d690c836b9ead,3000,2022-10-01T11:06:04.637275Z,7000,2022-09-30T11:11:35.070597Z,True,23.0
48,501,5db02e5d401d690c836b9ead,3000,2022-10-30T09:24:24.747487Z,7000,2022-10-28T09:31:24.557234Z,True,23.0
49,534,5db02e5d401d690c836b9ead,3000,2022-11-06T09:25:15.136151Z,7000,2022-11-02T09:27:59.582749Z,True,23.0
50,554,5db02e5d401d690c836b9ead,3000,2022-11-13T13:46:58.512829Z,7000,2022-11-11T14:11:24.775367Z,True,23.0
51,602,5db02e5d401d690c836b9ead,3000,2022-11-22T09:29:09.705863Z,7000,2022-11-21T09:38:15.306168Z,True,23.0
52,604,5db02e5d401d690c836b9ead,3000,2022-11-23T09:29:19.260117Z,7000,2022-11-22T09:49:26.557298Z,True,23.0
53,624,5db02e5d401d690c836b9ead,3000,2022-11-29T09:23:29.803413Z,7000,2022-11-23T09:55:38.480936Z,True,23.0
54,640,5db02e5d401d690c836b9ead,3000,2022-12-02T08:58:58.995331Z,7000,2022-11-29T09:39:30.547199Z,True,23.0
55,657,5db02e5d401d690c836b9ead,3000,2022-12-04T08:50:15.906456Z,7000,2022-12-02T09:21:20.744547Z,True,23.0
56,1289,5db02e5d401d690c836b9ead,3000,2022-12-30T09:10:48.137525Z,7000,2022-12-28T09:11:19.063693Z,True,23.0