# Overview of this Notebook and the approach

## Toolings used

## schema of the simple Datawarehouse 

TODO: popluate above

# Setup Code

In [1]:
# Importing all packages used
import pandas as pd

## Setting up a PostgreSQL DB  in localhost

In [2]:
import psycopg2 
from sqlalchemy import create_engine

In [3]:
# Generating a connection STRING for using a test service account `dbuser`
from sqlalchemy import URL

url_object = URL.create(
    "postgresql+psycopg2",
    username="dbuser",
    password="1",  # plain (unescaped) text
    host="localhost",
    database="postgres",
)

url_object

postgresql+psycopg2://dbuser:***@localhost/postgres

In [4]:
db = create_engine(url_object) 
conn = db.connect() 
conn1 = psycopg2.connect( 
  database="postgres", 
  user='dbuser',  
  password='1',  
  host='localhost',  
  port= '5432'
) 
  
conn1.autocommit = True
cursor = conn1.cursor() 
  
# drop table if it already exists 
cursor.execute('drop table if exists ods.test_table') 
  
sql = '''
CREATE TABLE ods.test_table AS 
SELECT 1 AS test_column_name
;
'''
  
cursor.execute(sql)

In [5]:
sql_test = '''
SELECT *
FROM ods.test_table
;
'''

print('running test SELECT statement...\n')
cursor.execute(sql_test) 
results = cursor.fetchall() 
print('result:\n')
print(results)

running test SELECT statement...

result:

[(1,)]

In [6]:
df_check = pd.read_sql_query(sql_test, conn1)
df_check.head()

/var/folders/6h/ptt_z0_53nb5t746v0n1sv980000gr/T/ipykernel_47276/1980342143.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_check = pd.read_sql_query(sql_test, conn1)

   test_column_name
0                 1

In [21]:
# clean up the test table
# drop table if it already exists 
cursor.execute('drop table ods.test_table')

## Creating ODS tables in the local PostgreSQL server

### Importing delivery_radius_log

In [7]:
# Importing the CSV file delivery_radius_log as a dataframe first
df_delivery_radius_log = pd.read_csv('data/delivery_radius_log.csv')
df_delivery_radius_log.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1316 entries, 0 to 1315
Data columns (total 3 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   DELIVERY_AREA_ID         1316 non-null   object
 1   DELIVERY_RADIUS_METERS   1316 non-null   int64
 2   EVENT_STARTED_TIMESTAMP  1316 non-null   object
dtypes: int64(1), object(2)
memory usage: 31.0+ KB

In [8]:
# exmaining the DataFrame
df_delivery_radius_log.head()

,DELIVERY_AREA_ID,DELIVERY_RADIUS_METERS,EVENT_STARTED_TIMESTAMP
0,5db02e5d401d690c836b9ead,3000,2022-06-14T08:26:20.923854Z
1,5db02e5d401d690c836b9ead,7000,2022-06-14T08:49:01.186365Z
2,5db02e5d401d690c836b9ead,3000,2022-06-18T07:43:57.662294Z
3,5db02e5d401d690c836b9ead,7000,2022-06-18T08:00:45.227506Z
4,5d78a7e552dfabd5251dab7b,4000,2022-06-18T08:05:29.093983Z

In [9]:
# Ingesting the file into the PostgreSQL DB instance
df_delivery_radius_log.to_sql(
    name = 'delivery_radius_log',
    schema = 'ods',
    con=db,
    if_exists = 'replace',
    index = False
)

316

### Importing purchases

In [10]:
# Importing the CSV file delivery_radius_log as a dataframe first
df_purchases = pd.read_csv('data/purchases.csv')
df_purchases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177895 entries, 0 to 177894
Data columns (total 6 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   PURCHASE_ID                            177895 non-null  object
 1   TIME_RECEIVED                          177895 non-null  object
 2   TIME_DELIVERED                         177895 non-null  object
 3   END_AMOUNT_WITH_VAT_EUR                177895 non-null  float64
 4   DROPOFF_DISTANCE_STRAIGHT_LINE_METRES  177895 non-null  int64
 5   DELIVERY_AREA_ID                       177895 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 8.1+ MB

In [11]:
# Exmining the DataFrame example data
df_purchases.head()

,PURCHASE_ID,TIME_RECEIVED,TIME_DELIVERED,END_AMOUNT_WITH_VAT_EUR,DROPOFF_DISTANCE_STRAIGHT_LINE_METRES,DELIVERY_AREA_ID
0,5f85beff7762a1539ad6faf1,2022-10-13T14:51:43.048Z,2022-10-13T15:18:35.265Z,17.87,735,5d78a7e552dfabd5251dab7b
1,5f85c08dddf0c9826389f3cd,2022-10-13T14:58:21.078Z,2022-10-13T15:28:09.194Z,17.75,436,5cc1b60b034adf90cd8f14dd
2,5f85bc2cf49ddea98955ce5f,2022-10-13T14:39:40.153Z,2022-10-13T15:05:15.058Z,25.80,867,5cc1b60b034adf90cd8f14dd
3,5f855dbf5a93deaf2be5b872,2022-10-13T07:56:47.003Z,2022-10-13T09:05:14.37Z,15.70,252,5db02e5d401d690c836b9ead
4,5f85be8a8876393ee141ed82,2022-10-13T14:49:46.693Z,2022-10-13T15:14:31.299Z,18.80,857,5db02e5d401d690c836b9ead

In [12]:
# Ingesting the DataFrame into the PostgreSQL DB instance
df_purchases.to_sql(
    name = 'purchases',
    schema = 'ods',
    con=db,
    if_exists = 'replace',
    index = False
)

895

# Task 1
In the first task you’ll work with the delivery radius log dataset. Given this delivery radius change log, we would like you to detect at any given time what is a temporary reduction (or increase) of the delivery radius and what is the "default" (more permanent) delivery radius. For this exercise, you can assume that the default radius at any given time is a radius that has lasted for at least 24 hours uninterrupted.

We would like you to produce a dataset(s) and answer the following:
* What are all the default delivery radiuses for the delivery areas during the timeframe
provided? Keep in mind that each area can have multiple default radiuses in the given
dataset.
* How many hours of radius reductions with respect to the the default radiuses have we
had during the timeframe provided for each delivery area?

Please give answers in numerical values to the above questions.

## Default Delivery Radius for all delivery area

Assuming the whenever the radius staying for at least 24 hours being a default radius:

In [46]:
# Save the fact table in the DB for re-using
sql_fct_delivery_areas_default_radius_events = '''
WITH delivery_radius_log AS (
    SELECT *
        , LAG(delivery_radius_meters) OVER (PARTITION BY delivery_area_id ORDER BY event_started_timestamp) AS previous_delivery_radius_meters
        , LAG(event_started_timestamp) OVER (PARTITION BY delivery_area_id ORDER BY event_started_timestamp) AS previous_event_started_timestamp 
        , LEAD(event_started_timestamp) OVER (PARTITION BY delivery_area_id ORDER BY event_started_timestamp) AS next_event_started_timestamp 
    FROM (
        SELECT "DELIVERY_AREA_ID" AS delivery_area_id
            , "EVENT_STARTED_TIMESTAMP"::TIMESTAMP AS event_started_timestamp
            , "DELIVERY_RADIUS_METERS" AS delivery_radius_meters
        FROM ods.delivery_radius_log 
    )
), fct_delivery_radius_log AS (
    SELECT *
      , EXTRACT('epoch' FROM (event_started_timestamp - previous_event_started_timestamp))/3600 AS delta_hours
    FROM delivery_radius_log
), main_query AS (
	SELECT MD5(CONCAT(delivery_area_id, event_started_timestamp::TEXT)) AS event_id 
		, delivery_area_id
		, event_started_timestamp
		, previous_event_started_timestamp
		, next_event_started_timestamp
		, delta_hours
		, (delta_hours >= 24) AS is_default_delivery_radius
		, delivery_radius_meters
		, previous_delivery_radius_meters
	FROM fct_delivery_radius_log
	ORDER BY delivery_area_id, event_started_timestamp
), default_delivery_radius AS (
    -- Workaround since PostgreSQL doesn't support IGNORE NULLS clause
	SELECT *
	FROM main_query
	WHERE is_default_delivery_radius
), main_query_with_default_delivery_radius_meters AS (
	SELECT event_id 
		, delivery_area_id
		, event_started_timestamp
		, previous_event_started_timestamp
		, next_event_started_timestamp
		, delta_hours
		, is_default_delivery_radius
		, delivery_radius_meters
		, CASE
			WHEN is_default_delivery_radius
				THEN delivery_radius_meters
			ELSE current_default_delivery_radius_meters
		  END AS current_default_delivery_radius_meters
	FROM (
		SELECT main_query.*
			, default_delivery_radius.delivery_radius_meters AS current_default_delivery_radius_meters
			, ROW_NUMBER() OVER (PARTITION BY main_query.event_id ORDER BY main_query.event_started_timestamp) AS _row_number
		FROM main_query
		LEFT JOIN default_delivery_radius ON main_query.delivery_area_id = default_delivery_radius.delivery_area_id
			AND main_query.event_started_timestamp > default_delivery_radius.event_started_timestamp
	)
	WHERE _row_number = 1
	ORDER BY delivery_area_id, event_started_timestamp
)
SELECT *
	, (delivery_radius_meters < current_default_delivery_radius_meters) AS is_reduction
	, CASE
		WHEN delivery_radius_meters < current_default_delivery_radius_meters
			THEN delta_hours
		ELSE 0
	  END AS delta_hours_radius_reduction
FROM main_query_with_default_delivery_radius_meters
'''

df_fct_delivery_areas_default_radius_events = pd.read_sql(sql_fct_delivery_areas_default_radius_events, con = db)

# Create the Dimension table in the PostgreSQL DB
df_fct_delivery_areas_default_radius_events.to_sql(
    name = 'delivery_areas_default_radius_events',
    schema = 'fct',
    con=db,
    if_exists = 'replace',
    index = False
)

df_fct_delivery_areas_default_radius_events.head()

,event_id,delivery_area_id,event_started_timestamp,previous_event_started_timestamp,next_event_started_timestamp,delta_hours,is_default_delivery_radius,delivery_radius_meters,current_default_delivery_radius_meters,is_reduction,delta_hours_radius_reduction
0,2487a170b8791b235fc1501c273bb56c,5cc1b60b034adf90cd8f14dd,2021-12-01 12:12:41.947087,NaT,2021-12-01 12:30:09.405860,NaN,None,3500,NaN,None,0.0
1,12b9779d17cb30c7034200cf3dbb6cb7,5cc1b60b034adf90cd8f14dd,2021-12-01 12:30:09.405860,2021-12-01 12:12:41.947087,2021-12-02 13:16:21.329693,0.290961,False,6500,NaN,None,0.0
2,3ca8ba8492a3e736147d95a4dbe25c1c,5cc1b60b034adf90cd8f14dd,2021-12-02 13:16:21.329693,2021-12-01 12:30:09.405860,2021-12-02 13:27:00.815321,24.769979,True,3500,3500.0,False,0.0
3,c7052ba8f0e2df79f0e1dabb4404b8a1,5cc1b60b034adf90cd8f14dd,2021-12-02 13:27:00.815321,2021-12-02 13:16:21.329693,2021-12-05 15:52:54.673552,0.177635,False,6500,3500.0,False,0.0
4,6304e37f63d8eecdc2c63093af33c765,5cc1b60b034adf90cd8f14dd,2021-12-05 15:52:54.673552,2021-12-02 13:27:00.815321,2021-12-05 16:11:52.970808,74.431627,True,3500,3500.0,False,0.0

* The output table above is a changelog of per Delivery Areas (`delivery_area_id`) with their default Delivery Radius (i.e. `default_delivery_radius_meters`) over time. Given the dynamic nature of the Delivery Area radius, it is better to deliver a Fact table instead of a Dimension table (or Summary table).
* A simple `SUM` on the column `delta_hours_radius_reduction` would be able to generate the hours of radius reductions with respect to the default radiuses, e.g.
```sql
SELECT delivery_area_id
  , SUM(delta_hours_radius_reduction) AS delta_hours_radius_reduction
FROM fct.delivery_areas_default_radius_events
GROUP BY 1
ORDER BY 1
```

* Important Note: The current query is not perfect per se and could use some refactoring for when the dataset grows bigger in the future. If it is on proper DWH solutions (e.g. Google BigQuery, Snowflake etc.), using Windows Function with IGNORE NULLS would be a lot more scalable way to do so compared to JOINs.

# Task 2

Now that we know the default delivery radiuses and times when the delivery radius was reduced, we would like you to create a derived dataset aggregated to hourly level that can be used to analyze delivery radius reductions and purchases in the areas for any hour in 2022. Build the dataset so that anyone could query the data without writing further joins or calculations and would be able to answer the following questions with a simple SELECT statement:
* How many purchases and how much revenue (End Amount With VAT Eur) do we produce during the hour?
* How long do the deviations (reductions) from default radius last during the hour? How many times have we modified the radius during the hour?
* How do these hourly values compare to the previous week for each area? This is just a simple week-over-week percentage difference for each of the above-mentioned four measures.

We want to emphasize that all three questions should be answered with the same aggregated dataset, meaning for instance that even the week-over-week differences are pre-calculated. Please note that for this task it is enough to only create the dataset and you are not expected to answer these questions. We only wish to see the code which creates this table and a sample of a few rows from the resulting dataset.

## Prep work

### Generate a Fact table of delivery radius events

In [39]:
sql_fct_delivery_radius_events = '''
WITH delivery_radius_log AS (
    SELECT "DELIVERY_AREA_ID" AS delivery_area_id
        , "EVENT_STARTED_TIMESTAMP"::TIMESTAMP AS event_started_timestamp
        , "DELIVERY_RADIUS_METERS" AS delivery_radius_meters
    FROM ods.delivery_radius_log 
), fct_delivery_radius_events AS (
    SELECT logs.delivery_area_id
        , logs.event_started_timestamp
        , LAG(logs.event_started_timestamp) OVER (PARTITION BY logs.delivery_area_id ORDER BY logs.event_started_timestamp) AS previous_event_started_timestamp 
        , LEAD(logs.event_started_timestamp) OVER (PARTITION BY logs.delivery_area_id ORDER BY logs.event_started_timestamp) AS next_event_started_timestamp 
        , logs.delivery_radius_meters
        , areas."default_delivery_radius_meters"
        , logs.delivery_radius_meters < areas."default_delivery_radius_meters" AS is_reduction
    FROM delivery_radius_log logs
    LEFT JOIN dim.delivery_areas areas ON logs.delivery_area_id = areas."delivery_area_id"
    ORDER BY logs.delivery_area_id, logs.event_started_timestamp
)
SELECT MD5(CONCAT(delivery_area_id, event_started_timestamp::TEXT)) AS event_id 
	, delivery_area_id
    , previous_event_started_timestamp
    , event_started_timestamp
    , next_event_started_timestamp 
    , EXTRACT('epoch' FROM (next_event_started_timestamp - event_started_timestamp))/3600 AS delta_hours
    , delivery_radius_meters
    , default_delivery_radius_meters
    , is_reduction
FROM fct_delivery_radius_events
'''

df_fct_delivery_radius_events = pd.read_sql(sql_fct_delivery_radius_events, con = db)

df_fct_delivery_radius_events.to_sql(
    name = 'delivery_radius_events',
    schema = 'fct',
    con=db,
    if_exists = 'replace',
    index = False
)

df_fct_delivery_radius_events.head()

,event_id,delivery_area_id,previous_event_started_timestamp,event_started_timestamp,next_event_started_timestamp,delta_hours,delivery_radius_meters,default_delivery_radius_meters,is_reduction
0,2487a170b8791b235fc1501c273bb56c,5cc1b60b034adf90cd8f14dd,NaT,2021-12-01 12:12:41.947087,2021-12-01 12:30:09.405860,0.290961,3500,3500,False
1,12b9779d17cb30c7034200cf3dbb6cb7,5cc1b60b034adf90cd8f14dd,2021-12-01 12:12:41.947087,2021-12-01 12:30:09.405860,2021-12-02 13:16:21.329693,24.769979,6500,3500,False
2,3ca8ba8492a3e736147d95a4dbe25c1c,5cc1b60b034adf90cd8f14dd,2021-12-01 12:30:09.405860,2021-12-02 13:16:21.329693,2021-12-02 13:27:00.815321,0.177635,3500,3500,False
3,c7052ba8f0e2df79f0e1dabb4404b8a1,5cc1b60b034adf90cd8f14dd,2021-12-02 13:16:21.329693,2021-12-02 13:27:00.815321,2021-12-05 15:52:54.673552,74.431627,6500,3500,False
4,6304e37f63d8eecdc2c63093af33c765,5cc1b60b034adf90cd8f14dd,2021-12-02 13:27:00.815321,2021-12-05 15:52:54.673552,2021-12-05 16:11:52.970808,0.316194,3500,3500,False

### Generate a Fact table of Purchases

In [31]:
sql_fct_purchases = '''
SELECT "PURCHASE_ID" AS purchase_id
	, "TIME_RECEIVED" AS time_received
	, "TIME_DELIVERED" AS time_delivered
	, "END_AMOUNT_WITH_VAT_EUR" AS end_amount_with_vat_eur
	, "DROPOFF_DISTANCE_STRAIGHT_LINE_METRES" AS dropoff_distance_straight_line_metres
	, "DELIVERY_AREA_ID" AS delivery_area_id
FROM ods.purchases
ORDER BY time_received

'''

df_fct_purchases = pd.read_sql(sql_fct_purchases, con = db)

df_fct_purchases.to_sql(
    name = 'purchases',
    schema = 'fct',
    con=db,
    if_exists = 'replace',
    index = False
)

df_fct_purchases.head()

,purchase_id,time_received,time_delivered,end_amount_with_vat_eur,dropoff_distance_straight_line_metres,delivery_area_id
0,5e0bf2fdc3cded7e3ee098ae,2022-01-01T01:16:45.557Z,2022-01-02T09:36:24.341Z,28.90,362,5db02e5d401d690c836b9ead
1,5e0c53153040aacc8319ebd7,2022-01-01T08:06:45.992Z,2022-01-01T08:25:41.983Z,30.05,454,5db02e5d401d690c836b9ead
2,5e0c55e571bf4d9b33e0a3c0,2022-01-01T08:18:45.382Z,2022-01-01T08:44:36.997Z,18.70,1288,5db02e5d401d690c836b9ead
3,5e0c56163040aacc8319ef65,2022-01-01T08:19:34.633Z,2022-01-01T08:51:02.019Z,32.00,2044,5cc1b60b034adf90cd8f14dd
4,5e0c577d93a422bd1b6dc02d,2022-01-01T08:25:33.776Z,2022-01-01T08:56:42.016Z,39.20,2414,5cc1b60b034adf90cd8f14dd

## Development of queries for the required dataset in Task 2

In [35]:
# Develop a query to serve as the base hours a dummy Week table first
sql_base_hours = '''
SELECT generate_series(date '2022-01-01', date '2022-12-31', '1 hour') AS base_hour
;
'''

df_base_hours = pd.read_sql(sql_base_hours, con = db)

df_base_hours.head(10)

                   base_hour
0  2022-01-01 00:00:00+01:00
1  2022-01-01 01:00:00+01:00
2  2022-01-01 02:00:00+01:00
3  2022-01-01 03:00:00+01:00
4  2022-01-01 04:00:00+01:00
5  2022-01-01 05:00:00+01:00
6  2022-01-01 06:00:00+01:00
7  2022-01-01 07:00:00+01:00
8  2022-01-01 08:00:00+01:00
9  2022-01-01 09:00:00+01:00

In [34]:
# Develop the Summary of Sales
sql_sum_sales = '''
SELECT delivery_area_id
    , DATE_TRUNC('HOUR', time_received::DATE) AS base_hour
    , COUNT(*) AS nb_purcahses
    , SUM(end_amount_with_vat_eur) AS end_amount_with_vat_eur
FROM fct.purchases
GROUP BY 1,2
ORDER BY 1,2

;
'''

df_sum_sales = pd.read_sql(sql_sum_sales, con = db)

df_sum_sales.head()

,delivery_area_id,base_hour,nb_purcahses,end_amount_with_vat_eur
0,5cc1b60b034adf90cd8f14dd,2022-01-01 00:00:00+01:00,195,5462.25
1,5cc1b60b034adf90cd8f14dd,2022-01-02 00:00:00+01:00,70,1706.65
2,5cc1b60b034adf90cd8f14dd,2022-01-03 00:00:00+01:00,93,2230.95
3,5cc1b60b034adf90cd8f14dd,2022-01-04 00:00:00+01:00,106,2704.35
4,5cc1b60b034adf90cd8f14dd,2022-01-05 00:00:00+01:00,114,2822.40

In [ ]:
# Develop a query for the summary of radius reduction hours & # times the radius being modify
sql_sum_delivery_radius_reduction = '''
WITH base_hours AS (
    SELECT generate_series(date '2022-01-01', date '2022-12-31', '1 hour') AS base_hour
), base_hours_with_delivery_areas AS (
	SELECT base_hours.base_hour
		, delivery_areas.delivery_area_id
	FROM base_hours
	CROSS JOIN dim.delivery_areas
), delivery_radius_events AS (
    SELECT *
        , DATE_TRUNC('hour', DATE_ADD(base_hour, INTERVAL '1 HOUR')) AS next_base_hour
    FROM (
        SELECT event_id
			, delivery_area_id
            , DATE_TRUNC('hour', event_started_timestamp) AS base_hour
			, previous_event_started_timestamp
            , event_started_timestamp
            , next_event_started_timestamp
            , delta_hours
			, delta_hours_radius_reduction
        FROM fct.delivery_areas_default_radius_events
		WHERE is_reduction
    ) 
), delivery_radius_events_processed AS (
    SELECT event_id
		, delivery_area_id
		, base_hour
		, next_base_hour
		, previous_event_started_timestamp
		, event_started_timestamp
		, next_event_started_timestamp
		, delta_hours_radius_reduction
		-- Scenario 1: event starts & ends within the same hour
		, EXTRACT('epoch' FROM (next_event_started_timestamp - event_started_timestamp))/3600 AS delta_hours_1
		-- Scenario 2: event starts in the current base hour, then ends in another base hour later
		, EXTRACT('epoch' FROM (next_base_hour - event_started_timestamp))/3600 AS delta_hours_2
		-- Scenario 3: event starts in the current base hour or from a previous base hour, then ends in the current base hour
		, EXTRACT('epoch' FROM (LEAST(next_event_started_timestamp, next_base_hour) - event_started_timestamp))/3600 AS delta_hours_3
		-- Scenario 4: event from in a previous base hour, then ends in the future base hour (i.e. full hour closure)
		-- Not showing here as it is not gonna be covered in this CTE
	FROM delivery_radius_events
), delivery_radius_events_processed_further AS (
	SELECT event_id
		, delivery_area_id
		, base_hour
		, next_base_hour
		, previous_event_started_timestamp
		, event_started_timestamp
		, next_event_started_timestamp
		, (
			CASE
				-- Scenario 1: event starts & ends within the same hour
				WHEN base_hour = DATE_TRUNC('hour', event_started_timestamp)
						AND base_hour = DATE_TRUNC('hour', next_event_started_timestamp)
					THEN 1
				-- Scenario 2: event starts in the current base hour, then ends in another base hour later
				WHEN base_hour = DATE_TRUNC('hour', event_started_timestamp)
						AND next_event_started_timestamp > next_base_hour
					THEN 2
				-- Scenario 3: event from in a previous base hour, then ends in the current base hour
				WHEN previous_event_started_timestamp < base_hour
						AND base_hour = DATE_TRUNC('hour', event_started_timestamp)
					THEN 3
				-- Scenario 4 cannot be handled here, to be taken care later
				ELSE 0
			END
			 ) AS Scenario
		, (
			CASE
				-- Scenario 1: event starts & ends within the same hour
				WHEN base_hour = DATE_TRUNC('hour', event_started_timestamp)
						AND base_hour = DATE_TRUNC('hour', next_event_started_timestamp)
					THEN delta_hours_1
				-- Scenario 2: event starts in the current base hour, then ends in another base hour later
				WHEN base_hour = DATE_TRUNC('hour', event_started_timestamp)
						AND next_event_started_timestamp > next_base_hour
					THEN delta_hours_2
				-- Scenario 3: event from in a previous base hour, then ends in the current base hour
				WHEN previous_event_started_timestamp < base_hour
						AND base_hour = DATE_TRUNC('hour', event_started_timestamp)
					THEN delta_hours_3
				-- Scenario 4 cannot be handled here, to be taken care later
				ELSE 0
			END
			 ) AS delta_hours
		, delta_hours_1
		, delta_hours_2
		, delta_hours_3
	FROM delivery_radius_events_processed
), delivery_radius_events_processed_further_agg_part1 AS (
	-- Scenario 1-3
	SELECT delivery_area_id
		, base_hour
		, SUM(delta_hours) AS delta_hours
	FROM delivery_radius_events_processed_further
	GROUP BY 1,2
	ORDER BY delivery_area_id, base_hour
), delivery_radius_events_processed_further_agg_part2 AS (
	-- Scenario 4
	SELECT base.delivery_area_id
		, base.base_hour
		, 1 AS delta_hours
	FROM base_hours_with_delivery_areas base
	INNER JOIN delivery_radius_events_processed_further events ON base.delivery_area_id = events.delivery_area_id
		AND base.base_hour BETWEEN events.event_started_timestamp AND events.next_event_started_timestamp
	    -- The following 2 lines are to filtering double JOINs 
		AND events.previous_event_started_timestamp < base.base_hour
		AND events.next_event_started_timestamp > DATE_ADD(base.base_hour, INTERVAL '1 hour')
	ORDER BY base.delivery_area_id, base.base_hour
), delivery_radius_events_union_all_agg AS (
	SELECT delivery_area_id
		, base_hour
		, SUM(delta_hours) AS delta_hours
	FROM (
		SELECT *
		FROM delivery_radius_events_processed_further_agg_part1

		UNION ALL

		SELECT *
		FROM delivery_radius_events_processed_further_agg_part2
	)
	GROUP BY 1,2
	ORDER BY delivery_area_id, base_hour
)
SELECT base.delivery_area_id
	, base.base_hour
	, COALESCE(agg.delta_hours, 0) AS delta_hours
FROM base_hours_with_delivery_areas base
LEFT JOIN delivery_radius_events_union_all_agg agg ON base.base_hour = agg.base_hour
	AND base.delivery_area_id = agg.delivery_area_id
ORDER BY base.delivery_area_id, base.base_hour
)
'''

df_sum_delivery_radius_reduction = pd.read_sql(sql_sum_delivery_radius_reduction, con = db)

## Putting everything together

In [20]:
# Develop the Summary of Delivery Radius Reduction
sql_sum_delivery_radius_reduction = '''
WITH base_hours AS (
    SELECT generate_series(date '2022-01-01', date '2022-12-31', '1 hour') AS base_hour
), base_hours_with_delivery_areas AS (
	SELECT base_hours.base_hour
		, delivery_areas.delivery_area_id
	FROM base_hours
	CROSS JOIN dim.delivery_areas
), delivery_radius_events AS (
    SELECT *
        , DATE_TRUNC('hour', DATE_ADD(base_hour, INTERVAL '1 HOUR')) AS next_base_hour
    FROM (
        SELECT delivery_area_id
            , DATE_TRUNC('hour', event_started_timestamp) AS base_hour
			, previous_event_started_timestamp
            , event_started_timestamp
            , next_event_started_timestamp
            , delta_hours
        FROM fct.delivery_radius_events
    ) 
), delivery_radius_events_processed AS (
    SELECT delivery_area_id
    , base_hour
    , next_base_hour
	, previous_event_started_timestamp
    , event_started_timestamp
    , next_event_started_timestamp
    -- Scenario 1: event starts & ends within the same hour
    , EXTRACT('epoch' FROM (next_event_started_timestamp - event_started_timestamp))/3600 AS delta_hours_1
    -- Scenario 2: event starts in the current base hour, then ends in another base hour later
    , EXTRACT('epoch' FROM (next_base_hour - event_started_timestamp))/3600 AS delta_hours_2
    -- Scenario 3: event from in a previous base hour, then ends in the current base hour
    , EXTRACT('epoch' FROM (LEAST(next_event_started_timestamp, next_base_hour) - event_started_timestamp))/3600 AS delta_hours_3
    -- Scenario 4: event from in a previous base hour, then ends in the future base hour (i.e. full hour closure)
    , 1 AS delta_hours_4
FROM delivery_radius_events
), delivery_radius_events_processed_further AS(
	SELECT delivery_area_id
		, base_hour
		, next_base_hour
		, previous_event_started_timestamp
		, event_started_timestamp
		, next_event_started_timestamp
		, (
			CASE
				-- Scenario 1: event starts & ends within the same hour
				WHEN base_hour = DATE_TRUNC('hour', event_started_timestamp)
						AND base_hour = DATE_TRUNC('hour', next_event_started_timestamp)
					THEN 1
				-- Scenario 2: event starts in the current base hour, then ends in another base hour later
				WHEN base_hour = DATE_TRUNC('hour', event_started_timestamp)
						AND next_event_started_timestamp > next_base_hour
					THEN 2
				-- Scenario 3: event from in a previous base hour, then ends in the current base hour
				WHEN previous_event_started_timestamp < base_hour
						AND base_hour = DATE_TRUNC('hour', event_started_timestamp)
					THEN 3
				-- Scenario 4 cannot be handled here, to be taken care later
				ELSE 0
			END
			 ) AS Scenario
		, (
			CASE
				-- Scenario 1: event starts & ends within the same hour
				WHEN base_hour = DATE_TRUNC('hour', event_started_timestamp)
						AND base_hour = DATE_TRUNC('hour', next_event_started_timestamp)
					THEN delta_hours_1
				-- Scenario 2: event starts in the current base hour, then ends in another base hour later
				WHEN base_hour = DATE_TRUNC('hour', event_started_timestamp)
						AND next_event_started_timestamp > next_base_hour
					THEN delta_hours_2
				-- Scenario 3: event from in a previous base hour, then ends in the current base hour
				WHEN previous_event_started_timestamp < base_hour
						AND base_hour = DATE_TRUNC('hour', event_started_timestamp)
					THEN delta_hours_3
				-- Scenario 4 cannot be handled here, to be taken care later
				ELSE 0
			END
			 ) AS delta_hours
		, delta_hours_1
		, delta_hours_2
		, delta_hours_3
	FROM delivery_radius_events_processed
), delivery_radius_events_processed_further_agg_part1 AS (
	-- Scenario 1-3
	SELECT delivery_area_id
		, base_hour
		, SUM(delta_hours) AS delta_hours
	FROM delivery_radius_events_processed_further
	GROUP BY 1,2
	ORDER BY delivery_area_id, base_hour
), delivery_radius_events_processed_further_agg_part2 AS (
	-- Scenario 4
	SELECT base.delivery_area_id
		, base.base_hour
		, 1 AS delta_hours
	FROM base_hours_with_delivery_areas base
	INNER JOIN delivery_radius_events_processed_further events ON base.delivery_area_id = events.delivery_area_id
		AND base.base_hour BETWEEN events.event_started_timestamp AND events.next_event_started_timestamp
		AND events.previous_event_started_timestamp < base.base_hour
		AND events.next_event_started_timestamp > DATE_ADD(base.base_hour, INTERVAL '1 hour')
	ORDER BY base.delivery_area_id, base.base_hour
), delivery_radius_events_union_all_agg AS (
	SELECT delivery_area_id
		, base_hour
		, SUM(delta_hours) AS delta_hours
	FROM (
		SELECT *
		FROM delivery_radius_events_processed_further_agg_part1

		UNION ALL

		SELECT *
		FROM delivery_radius_events_processed_further_agg_part2
	)
	GROUP BY 1,2
	ORDER BY delivery_area_id, base_hour
)
SELECT base.delivery_area_id
    , base.base_hour
    , COALESCE(agg.delta_hours, 0) AS delta_hours
FROM base_hours_with_delivery_areas base
LEFT JOIN delivery_radius_events_union_all_agg agg ON base.base_hour = agg.base_hour
    AND base.delivery_area_id = agg.delivery_area_id
ORDER BY base.delivery_area_id, base.base_hour
'''

df_sum_delivery_radius_reduction = pd.read_sql(sql_sum_delivery_radius_reduction, con = db)
df_sum_delivery_radius_reduction.to_sql(
    name = 'delivery_radius_reduction',
    schema = 'sum',
    con=db,
    if_exists = 'replace',
    index = False
)


df_sum_delivery_radius_reduction.head(50)

            delivery_area_id                  base_hour  delta_hours
0   5cc1b60b034adf90cd8f14dd  2022-01-01 00:00:00+01:00          1.0
1   5cc1b60b034adf90cd8f14dd  2022-01-01 01:00:00+01:00          1.0
2   5cc1b60b034adf90cd8f14dd  2022-01-01 02:00:00+01:00          1.0
3   5cc1b60b034adf90cd8f14dd  2022-01-01 03:00:00+01:00          1.0
4   5cc1b60b034adf90cd8f14dd  2022-01-01 04:00:00+01:00          1.0
5   5cc1b60b034adf90cd8f14dd  2022-01-01 05:00:00+01:00          1.0
6   5cc1b60b034adf90cd8f14dd  2022-01-01 06:00:00+01:00          1.0
7   5cc1b60b034adf90cd8f14dd  2022-01-01 07:00:00+01:00          1.0
8   5cc1b60b034adf90cd8f14dd  2022-01-01 08:00:00+01:00          1.0
9   5cc1b60b034adf90cd8f14dd  2022-01-01 09:00:00+01:00          1.0
10  5cc1b60b034adf90cd8f14dd  2022-01-01 10:00:00+01:00          1.0
11  5cc1b60b034adf90cd8f14dd  2022-01-01 11:00:00+01:00          1.0
12  5cc1b60b034adf90cd8f14dd  2022-01-01 12:00:00+01:00          1.0
13  5cc1b60b034adf90cd8f14dd  2022-01-01 13:00:00+01:00          1.0
14  5cc1b60b034adf90cd8f14dd  2022-01-01 14:00:00+01:00          1.0
15  5cc1b60b034adf90cd8f14dd  2022-01-01 15:00:00+01:00          1.0
16  5cc1b60b034adf90cd8f14dd  2022-01-01 16:00:00+01:00          1.0
17  5cc1b60b034adf90cd8f14dd  2022-01-01 17:00:00+01:00          1.0
18  5cc1b60b034adf90cd8f14dd  2022-01-01 18:00:00+01:00          1.0
19  5cc1b60b034adf90cd8f14dd  2022-01-01 19:00:00+01:00          1.0
20  5cc1b60b034adf90cd8f14dd  2022-01-01 20:00:00+01:00          1.0
21  5cc1b60b034adf90cd8f14dd  2022-01-01 21:00:00+01:00          1.0
22  5cc1b60b034adf90cd8f14dd  2022-01-01 22:00:00+01:00          1.0
23  5cc1b60b034adf90cd8f14dd  2022-01-01 23:00:00+01:00          1.0
24  5cc1b60b034adf90cd8f14dd  2022-01-02 00:00:00+01:00          1.0
25  5cc1b60b034adf90cd8f14dd  2022-01-02 01:00:00+01:00          1.0
26  5cc1b60b034adf90cd8f14dd  2022-01-02 02:00:00+01:00          1.0
27  5cc1b60b034adf90cd8f14dd  2022-01-02 03:00:00+01:00          1.0
28  5cc1b60b034adf90cd8f14dd  2022-01-02 04:00:00+01:00          1.0
29  5cc1b60b034adf90cd8f14dd  2022-01-02 05:00:00+01:00          1.0
30  5cc1b60b034adf90cd8f14dd  2022-01-02 06:00:00+01:00          1.0
31  5cc1b60b034adf90cd8f14dd  2022-01-02 07:00:00+01:00          1.0
32  5cc1b60b034adf90cd8f14dd  2022-01-02 08:00:00+01:00          1.0
33  5cc1b60b034adf90cd8f14dd  2022-01-02 09:00:00+01:00          1.0
34  5cc1b60b034adf90cd8f14dd  2022-01-02 10:00:00+01:00          1.0
35  5cc1b60b034adf90cd8f14dd  2022-01-02 11:00:00+01:00          1.0
36  5cc1b60b034adf90cd8f14dd  2022-01-02 12:00:00+01:00          1.0
37  5cc1b60b034adf90cd8f14dd  2022-01-02 13:00:00+01:00          1.0
38  5cc1b60b034adf90cd8f14dd  2022-01-02 14:00:00+01:00          1.0
39  5cc1b60b034adf90cd8f14dd  2022-01-02 15:00:00+01:00          1.0
40  5cc1b60b034adf90cd8f14dd  2022-01-02 16:00:00+01:00          1.0
41  5cc1b60b034adf90cd8f14dd  2022-01-02 17:00:00+01:00          1.0
42  5cc1b60b034adf90cd8f14dd  2022-01-02 18:00:00+01:00          1.0
43  5cc1b60b034adf90cd8f14dd  2022-01-02 19:00:00+01:00          1.0
44  5cc1b60b034adf90cd8f14dd  2022-01-02 20:00:00+01:00          1.0
45  5cc1b60b034adf90cd8f14dd  2022-01-02 21:00:00+01:00          1.0
46  5cc1b60b034adf90cd8f14dd  2022-01-02 22:00:00+01:00          1.0
47  5cc1b60b034adf90cd8f14dd  2022-01-02 23:00:00+01:00          1.0
48  5cc1b60b034adf90cd8f14dd  2022-01-03 00:00:00+01:00          1.0
49  5cc1b60b034adf90cd8f14dd  2022-01-03 01:00:00+01:00          1.0