# Setup Code

In [37]:
# Importing all packages used
import pandas as pd

## Importing delivery_radius_log

In [38]:
# Importing the CSV file delivery_radius_log as a dataframe first
df_delivery_radius_log = pd.read_csv('data/delivery_radius_log.csv')
df_delivery_radius_log.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1316 entries, 0 to 1315
Data columns (total 3 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   DELIVERY_AREA_ID         1316 non-null   object
 1   DELIVERY_RADIUS_METERS   1316 non-null   int64
 2   EVENT_STARTED_TIMESTAMP  1316 non-null   object
dtypes: int64(1), object(2)
memory usage: 31.0+ KB

In [47]:
df_delivery_radius_log.head()

,DELIVERY_AREA_ID,DELIVERY_RADIUS_METERS,EVENT_STARTED_TIMESTAMP
0,5db02e5d401d690c836b9ead,3000,2022-06-14T08:26:20.923854Z
1,5db02e5d401d690c836b9ead,7000,2022-06-14T08:49:01.186365Z
2,5db02e5d401d690c836b9ead,3000,2022-06-18T07:43:57.662294Z
3,5db02e5d401d690c836b9ead,7000,2022-06-18T08:00:45.227506Z
4,5d78a7e552dfabd5251dab7b,4000,2022-06-18T08:05:29.093983Z

## Importing purchases

In [40]:
# Importing the CSV file delivery_radius_log as a dataframe first
df_purchases = pd.read_csv('data/purchases.csv')
df_purchases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177895 entries, 0 to 177894
Data columns (total 6 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   PURCHASE_ID                            177895 non-null  object
 1   TIME_RECEIVED                          177895 non-null  object
 2   TIME_DELIVERED                         177895 non-null  object
 3   END_AMOUNT_WITH_VAT_EUR                177895 non-null  float64
 4   DROPOFF_DISTANCE_STRAIGHT_LINE_METRES  177895 non-null  int64
 5   DELIVERY_AREA_ID                       177895 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 8.1+ MB

In [41]:
df_purchases.head()

,PURCHASE_ID,TIME_RECEIVED,TIME_DELIVERED,END_AMOUNT_WITH_VAT_EUR,DROPOFF_DISTANCE_STRAIGHT_LINE_METRES,DELIVERY_AREA_ID
0,5f85beff7762a1539ad6faf1,2022-10-13T14:51:43.048Z,2022-10-13T15:18:35.265Z,17.87,735,5d78a7e552dfabd5251dab7b
1,5f85c08dddf0c9826389f3cd,2022-10-13T14:58:21.078Z,2022-10-13T15:28:09.194Z,17.75,436,5cc1b60b034adf90cd8f14dd
2,5f85bc2cf49ddea98955ce5f,2022-10-13T14:39:40.153Z,2022-10-13T15:05:15.058Z,25.80,867,5cc1b60b034adf90cd8f14dd
3,5f855dbf5a93deaf2be5b872,2022-10-13T07:56:47.003Z,2022-10-13T09:05:14.37Z,15.70,252,5db02e5d401d690c836b9ead
4,5f85be8a8876393ee141ed82,2022-10-13T14:49:46.693Z,2022-10-13T15:14:31.299Z,18.80,857,5db02e5d401d690c836b9ead

# Setting up a PostgreSQL DB  in localhost

In [42]:
import psycopg2 
from sqlalchemy import create_engine

In [43]:
# Generating a connection STRING for using a test service account `dbuser`
from sqlalchemy import URL

url_object = URL.create(
    "postgresql+psycopg2",
    username="dbuser",
    password="1",  # plain (unescaped) text
    host="localhost",
    database="postgres",
)

url_object

postgresql+psycopg2://dbuser:***@localhost/postgres

In [44]:
db = create_engine(url_object) 
conn = db.connect() 
conn1 = psycopg2.connect( 
  database="postgres", 
  user='dbuser',  
  password='1',  
  host='localhost',  
  port= '5432'
) 
  
conn1.autocommit = True
cursor = conn1.cursor() 
  
# drop table if it already exists 
cursor.execute('drop table if exists ods.test_table') 
  
sql = '''
CREATE TABLE ods.test_table AS 
SELECT 1 AS test_column_name
;
'''
  
cursor.execute(sql)

In [45]:
sql_test = '''
SELECT *
FROM ods.test_table
;
'''

print('running test SELECT statement...\n')
cursor.execute(sql_test) 
results = cursor.fetchall() 
print('result:\n')
print(results)

running test SELECT statement...

result:

[(1,)]

In [46]:
df_check = pd.read_sql_query(sql_test, conn1)
df_check.head()

/var/folders/6h/ptt_z0_53nb5t746v0n1sv980000gr/T/ipykernel_19035/1980342143.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_check = pd.read_sql_query(sql_test, conn1)

   test_column_name
0                 1

# Creating ODS tables in the local PostgreSQL server

In [60]:
df_delivery_radius_log.to_sql(
    name = 'delivery_radius_log',
    schema = 'ods',
    con=db,
    if_exists = 'replace'
)

# asserting if the ingested table in there
sql_delivery_radius_log = '''
SELECT *
FROM ods.delivery_radius_log
LIMIT 5
;
'''

cursor.execute(sql_delivery_radius_log) 
cursor.fetchall()

[(0, '5db02e5d401d690c836b9ead', 3000, '2022-06-14T08:26:20.923854Z'),
 (1, '5db02e5d401d690c836b9ead', 7000, '2022-06-14T08:49:01.186365Z'),
 (2, '5db02e5d401d690c836b9ead', 3000, '2022-06-18T07:43:57.662294Z'),
 (3, '5db02e5d401d690c836b9ead', 7000, '2022-06-18T08:00:45.227506Z'),
 (4, '5d78a7e552dfabd5251dab7b', 4000, '2022-06-18T08:05:29.093983Z')]

In [61]:
df_purchases.to_sql(
    name = 'purchases',
    schema = 'ods',
    con=db,
    if_exists = 'replace'
)

# asserting if the ingested table in there
sql_purchases = '''
SELECT *
FROM ods.purchases
LIMIT 5
;
'''

cursor.execute(sql_purchases) 
cursor.fetchall()

[(0,
  '5f85beff7762a1539ad6faf1',
  '2022-10-13T14:51:43.048Z',
  '2022-10-13T15:18:35.265Z',
  17.87,
  735,
  '5d78a7e552dfabd5251dab7b'),
 (1,
  '5f85c08dddf0c9826389f3cd',
  '2022-10-13T14:58:21.078Z',
  '2022-10-13T15:28:09.194Z',
  17.75,
  436,
  '5cc1b60b034adf90cd8f14dd'),
 (2,
  '5f85bc2cf49ddea98955ce5f',
  '2022-10-13T14:39:40.153Z',
  '2022-10-13T15:05:15.058Z',
  25.8,
  867,
  '5cc1b60b034adf90cd8f14dd'),
 (3,
  '5f855dbf5a93deaf2be5b872',
  '2022-10-13T07:56:47.003Z',
  '2022-10-13T09:05:14.37Z',
  15.7,
  252,
  '5db02e5d401d690c836b9ead'),
 (4,
  '5f85be8a8876393ee141ed82',
  '2022-10-13T14:49:46.693Z',
  '2022-10-13T15:14:31.299Z',
  18.8,
  857,
  '5db02e5d401d690c836b9ead')]

In [64]:
sql = '''
SELECT *
FROM ods.purchases
'''

df_purchases = pd.read_sql(sql, con = db)
df_purchases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177895 entries, 0 to 177894
Data columns (total 7 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   index                                  177895 non-null  int64
 1   PURCHASE_ID                            177895 non-null  object
 2   TIME_RECEIVED                          177895 non-null  object
 3   TIME_DELIVERED                         177895 non-null  object
 4   END_AMOUNT_WITH_VAT_EUR                177895 non-null  float64
 5   DROPOFF_DISTANCE_STRAIGHT_LINE_METRES  177895 non-null  int64
 6   DELIVERY_AREA_ID                       177895 non-null  object
dtypes: float64(1), int64(2), object(4)
memory usage: 9.5+ MB

# Q1